<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>
<button onclick="addMemo()">Add New Memo!</button>

<p>&nbsp;</p>

{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row" id="{{ memo.text }}">
  <div class="col-md-2" >
    <input type="hidden" id="{{ memo.text }}_date" value="{{ memo.date }}"> 
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-5" >
    <label class="col-md-10" id="{{ memo.text }}" >{{ memo.text }}</label>
    <button class="col-md-2" name="del" id="{{ memo.text }}" onClick="delMemo(this.id)"> Delete </button>

    <p>&nbsp;</p>
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

 

</div> <!-- container -->
</body>
<script>
  function addMemo(){
    // Redirect to add_memo.html
    window.location.replace("/add_memo");
  }
  // click_id is the same as the id of the row, so we can delete it easily
  function delMemo(click_id){
      // Get date and memo text and send to flask_main.py
      var dat = document.getElementById(click_id + "_date");
      var datto = (dat.value);
      console.log(datto);
      var parts = datto.split('T');
      console.log(parts);
      document.getElementById(click_id).remove();
      $.getJSON("/_del_memo", {text: click_id, dat: parts[0]});
  }
  

</script>
</html>
